@font-face {
    font-family: 'FT88 Expanded';
    src: url('FT88-Expanded.woff2') format('woff2'),
        url('FT88-Expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Regular.woff2') format('woff2'),
        url('FT88-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Bold.woff2') format('woff2'),
        url('FT88-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 School';
    src: url('FT88-School.woff2') format('woff2'),
        url('FT88-School.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Serif';
    src: url('FT88-Serif.woff2') format('woff2'),
        url('FT88-Serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Gothique';
    src: url('FT88-Gothique.woff2') format('woff2'),
        url('FT88-Gothique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Italic.woff2') format('woff2'),
        url('FT88-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family:'pt_monoregular';
    src: url('webfontkit/ptmono-regular-webfont.woff2') format('woff2'),
         url('webfontkit/ptmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-color: #000000;
}

body {
  font-family:'pt_monoregular';
  margin-left: 40px;
  margin-right: 40px;
  background-color: #faf0e6;
}

h3{
  font-family:'FT88 Expanded';
}


.boxes {
  float: left;
  width: 25%;
  height: 500px;
  padding: 10px;
  margin: 1%;
  border: 2px;
  text-align: left;
  background-color: #6FDFDF;


}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: grid;
  clear: both;
}
