@font-face {
    font-family: 'FT88 Expanded';
    src: url('FT88-Expanded.woff2') format('woff2'),
        url('FT88-Expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Regular.woff2') format('woff2'),
        url('FT88-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Bold.woff2') format('woff2'),
        url('FT88-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 School';
    src: url('FT88-School.woff2') format('woff2'),
        url('FT88-School.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Serif';
    src: url('FT88-Serif.woff2') format('woff2'),
        url('FT88-Serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88 Gothique';
    src: url('FT88-Gothique.woff2') format('woff2'),
        url('FT88-Gothique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FT88';
    src: url('FT88-Italic.woff2') format('woff2'),
        url('FT88-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family:'pt_monoregular';
    src: url('webfontkit/ptmono-regular-webfont.woff2') format('woff2'),
         url('webfontkit/ptmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-color: #000000;
}

body {
  font-family:'pt_monoregular';
  background-color: #faf0e6;
  font-size: 300%;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
  background-color: #A85CF9;
  font-family:'pt_monoregular';
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  margin: 4px 2px;
  cursor: pointer;

}

.button:hover {
      background-color:#d702eb;
      transition: 0.1s;
  }

h1 {
  font-family: 'FT88 School';
  font-size: 200%;
  webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

div {
  line-height:50px;
}

.
